{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rols list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
            <tr>
                
                <td>{{ rol.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rol_show', { 'id': rol.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rol_edit', { 'id': rol.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rol_new') }}">Create a new rol</a>
        </li>
    </ul>
{% endblock %}
